body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    background: white;
    width: 320px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

#registerForm {
    display: none;
}

.form-box h2 {
    color: #ff6b00;
    margin-bottom: 20px;
}

.form-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.form-box button {
    width: 100%;
    padding: 10px;
    background: #ff6b00;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.form-box button:hover {
    background: #e65c00;
}

.toggle-text {
    margin-top: 15px;
    font-size: 14px;
}

.toggle-text span {
    color: #ff6b00;
    cursor: pointer;
    font-weight: bold;
}
